<nav class="navbar navbar-expand-lg bg-success">
  <div class="container-fluid">
    <a class="navbar-brand text-white" routerLink="/">
      Angular & Ngrx 14: News
      🚀🚁🚁🚀
    </a>
  </div>
</nav>

<div class="container mt-5">
  <div class="d-flex">
    <button class="btn btn-outline-success" routerLink="/img-loading">
      🦮Dogs Image
    </button>
    <button class="btn btn-outline-success ms-1" routerLink="/forms">
      📑Forms
    </button>
    <button class="btn btn-outline-success ms-1" routerLink="/lazy">
      😎Lazy Load & Refs
    </button>
    <button class="btn btn-outline-success ms-1" routerLink="/inject">
      🎈Inject
    </button>
    <button class="btn btn-outline-success ms-1" routerLink="/reflect">
      🍿Reflect
    </button>
  </div>
  <div class="m-5">
    <router-outlet></router-outlet>
  </div>
</div>
